*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main-div{
    display: flex;
    flex-direction: row;
    margin: 10px;
    /* padding: 2%; */
    background-color: azure;
    width: 100%;
    gap: 30px;
}
.Img img{
    height: 150px;
    width: 100px;
    border-radius: 10px;
}
.Img{
    height: 1%;

}
.card-content{
    /* justify-content: space-around; */
    max-height: fit-content;
}
.name{
    margin: 5% 10% 1% 2%;
    max-width: 50%;
}


/* ///    Teacher  */
.Cards{
    margin: 10px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

@media screen and (max-width: 1000px) {
    .Cards{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 620px) {
    .Cards{
        grid-template-columns: auto;
    }
}